<div class="container">
    <div class="row p-5">
        <div class="col-md-12">
            <input type="text" Class="form-control" [(ngModel)]="filteringData">
        </div>
    </div>

    <div class="row">
        <div *ngFor="let user of (userData|async) | filter:filteringData" class="col-md-12">
            <div>
                <div>Id: {{user.id}}</div>
                <div>Name: {{user.name}}</div>
                <div>Designation: {{user.company.designation}}</div>
                <hr>
            </div>
        </div>
    </div>
</div>